#first install the below 3 modules in your python environment using pip install <module_name>
fastapi
faiss-cpu
sentence-transformers

#if the below modules are said as "not found", install them also using pip install 
uvicorn
numpy
scikit-learn